*.db
*.exe
*.db-shm
*.db-wal
*.db-wal
cloudhelper.json
*.log
/release/*
cloudhelper-probe-controller-linux-amd64
*.exe~
/data/*
probe_manager/data/*
.gocache/*
probe_manager/backup/*
probe_manager/backend/backup/*
probe_manager/backend/data/*
probe_node/cover.out
probe_node/temp/*
probe_node/data/
probe_node/temp/data/probe_local_auth.json
probe_node/temp/data/proxy_host.txt
encoding_tools/.tmp_patch*.json
probe_manager/
