*.db
*.exe
*.db-shm
*.db-wal
*.db-wal
cloudhelper.json
*.log
/release/*
cloudhelper-probe-controller-linux-amd64
*.exe~
/data/*
probe_manager/data/*
.gocache/*
probe_manager/backup/*
probe_manager/backend/backup/*
probe_manager/backend/data/*
probe_node/cover.out
probe_node/'+'''$log'''+
probe_node/temp/Lib/wintun/amd64/wintun.dll
